<div class="footer-area" ng-controller="footer">
    <div class="footer-flex-box">
        <div class="footer-content-area">
            <div class="header">
                <div class="page-title">JSIM</div>
                <div class="icon-area">
                    <div class="icon-item">                        
                        <a target="_blank" href="https://www.instagram.com/seek_bell/"><img src="../assets/img/instagram.png" alt=""></a>
                    </div>
                    <div class="icon-item">
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100003628712273"><img src="../assets/img/facebook.png" alt=""></a>
                    </div>
                    <div class="icon-item">
                        <a target="_blank" href="https://github.com/JongSikLim"><img src="../assets/img/github.png" alt=""></a>
                    </div>
                </div>
            </div>
            <hr class="footer-hr-line">
            <div class="info-area">
                <div class="private-info">
                    <span class="name">임종식</span>
                    <span class="line">|</span>
                    <span class="email">이메일 whdtlr1218@naver.com</span>
                    <span class="line">|</span>
                    <span class="kakao-talk">카카오톡 whdtlr1218</span>                    
                </div>
                <div class="copyright">
                    Copyright @ 2020 JSIM All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>