<div class="header-area" ng-controller="header">
    <div class="header-content-area">
        <div class="logo-area">
            <span class="logo-text">JSIM</span>
        </div>
        <div class="menu-area">
            <nav>
                <ul class="menu-list">
                    <li class="menu-text"><a href="">INTRODUCE</a></li>
                    <li class="menu-text"><a href="">PORTFOLIO</a></li>
                    <li class="menu-text"><a href="">BLOG</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>