<div class="intro-container" ng-controller="introduce" ng-scroll="scrollEvent(e)">
    <div class="navigation-button-area">
        <button class="navigation-button" ng-click="navSheet(1)"></button>
        <button class="navigation-button" ng-click="navSheet(2)"></button>
    </div>

    <div class="sheet-area" id="sheet-1">
        <div class="title-text-area korean">
            <span class="first-line">웹 브라우저로 사람을 연결하는 개발자</span>
            <span class="second-line"><span class="name">임종식</span>이라고 합니다.</span>
        </div>
    
        <div class="introduce-text-area">
            <div class="history-area">
                <div class="history-list">
                    <li><span class="title">랩오투원</span> <span class="content">프론트 / 백엔드 엔지니어</span></li>
                    <li><span class="title">동서대학교</span> <span class="content">소프트웨어공학전공</span></li>
                    <li><span class="title">밀양고등학교</span> <span class="content"></span></li>
                </div>
            </div>
    
            <div class="pride-text-area">
                <span class="pride-text">웹 브라우저를 통해 사람을 연결하고 현실 문제를 해결, 개선하는 매력에 푹 빠져 웹 개발을 길을 걷고 있습니다.
                    <br>Java로 프로그래밍을 시작하여 Javascript의 매력에 푹빠져있고 사회와 코딩을 조금씩 알아가고 있는 사회 초년생입니다.
                    <br>문제의식과 해결의 과정으로 성장하고 있으며 항상 새로운 기술에 적극적으로 도전합니다.
                </span>
            </div>
        </div>
    
        <div class="button-area">
            <button class="btn-download">이력서 다운로드</button>
        </div>
    
        
    </div>
    <div class="sheet-area" id="sheet-2">
        <div class="reward-area">
            <div class="external-area">
                <div class="reward-list-area">
                    <li>제 8회 소외된 90%와 함께하는 창의융합설계 아카데미 (한동대학교, 2015-07-18 )</li>
                    <li>공유가치창출형 창업 아이디어 칵테일 바 (부산광역시, 2016-06-02)</li>
                    <li>부산 창업선도대학 페스티벌 최우수상 (부산광역시 공학혁신센터 대학연합, 2016-12-08)</li>
                </div>
            </div>
            <div class="internal-area">
                <div class="reward-list-area">
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                    <li>동서대학교, 어쩌고 저쩌고 내부상</li>
                </div>
            </div>
        </div>    
    </div>
</div>