<div class="introduce-area ngl">
    <div class="welcome-flex-box">
        <div class="welcome-sheet-area">
            <div class="greeting-text">
                안녕하세요,
            </div>
            <div class="idea-text">
                동료를 위한 개발을 하고싶은 임종식이라고 합니다.
                <br>뿌리깊은 프론트엔드 개발자를 목표로 노력합니다.
            </div>
        </div>
    </div>
    
    <div class="skill-flex-box front-end-container">
        <div class="skill-sheet-area">
            <div class="subject-text">
                기술
                <span class="eng-text">SKILLS</span>
            </div>

            <div class="skill-box ">
                <div class="group-area">
                    <div class="img-area">
                        <img src="../assets/img/frontend.png">
                        <div class="caption-area ngr">
                            Front-end
                        </div>
                    </div>                                        
                </div>
                <div class="element-area">
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div> 
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>                           
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                </div>
            </div>                  
        </div>
    </div>
    <hr class="line">
    <div class="skill-flex-box back-end-container">
        <div class="skill-sheet-area">
            <div class="skill-box">
                <div class="group-area">
                    <div class="img-area">
                        <img src="../assets/img/backend.png">
                        <div class="caption-area ngr">
                            Back-end
                        </div>
                    </div>                                        
                </div>
                <div class="element-area">
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div> 
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>                                 
                </div>
            </div>                  
        </div>
    </div>
    <hr class="line">
    <div class="skill-flex-box back-end-container">
        <div class="skill-sheet-area">
            <div class="skill-box">
                <div class="group-area">
                    <div class="img-area">
                        <img src="../assets/img/devops.png">
                        <div class="caption-area ngr">
                            DevOps
                        </div>
                    </div>                                        
                </div>
                <div class="element-area">
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div> 
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>                           
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                    <div class="lang-item-box">
                        <div class="logo-area">

                        </div>
                        <div class="text-area">
                            <div class="lang-name">HTML</div>
                            <div class="lang-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus unde? Aut magnam eos officia dolorem tempore, obcaecati molestias aspernatur illo, quae exercitationem deleniti est quisquam quibusdam. Ad, vero expedita?</div>
                        </div>
                    </div>        
                </div>
            </div>                  
        </div>
    </div>
    
    <div class="profile-flex-box">
        <div class="profile-sheet-area">
        
        </div>
    </div>    
</div>