<div class="portfolio-area" ng-controller="portfolio">
    <div class="portfolio-content-area">        
        <div class="category-area" id="company">   
            <div class="category-title">
                <span class="category-title text">
                    회사 프로젝트
                </span>
            </div>         
            <div class="portfolio-list-area">                
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK FOR SHORE</span>
                        <span class="project-range">2018. 05 ~ 2018. 09</span>
                        <span class="project-explain">웹 서비스 개발</span>
                        <span class="project-language">Html, CSS, Javascript, Angularjs</span>
                        <span class="project-detail">
                            선박을 모니터링하고 성능을 분석해주는 다양한 서비스가 있는 웹 프로젝트입니다.
                            VESSELLINK FOR SHIP 프로그램에 들어가게 될 커스터마이징 템플릿 파일을 추출하는 페이지 개발을 담당하였습니다.
                            개발하면서 Angularjs에서 제공하는 2-Way Binding 서비스를 남발하여 페이지 성능저하 이슈가 있었습니다. 
                            양방향 데이터 바인딩의 장점만 보고 사용하여 발생한 문제였고 이후, 양방향 데이터 바인딩의 문제점을 인식하고 단방향 바인딩으로 변경하면서 성능을 향상시킬 수 있었습니다.                            
                        </span>
                        <span class="feeling">
                            웹 개발자의 꿈을 안고 처음으로 개발하게 된 프로젝트 입니다. 그 당시에 react, vue, angular(ver 2.0 이상)의 프레임워크들이 엄청나게 떠오르던 시절이었습니다.
                            회사에서 Deprecated된 Angularjs를 사용하고 있어 난해하였지만, Angular2 프레임워크를 학창시절에 사용한 경험을 기반으로 빠르게 적응할 수 있었습니다. 
                            프로젝트 초창기에 숙련된 웹 개발자가 없어서 인터넷에 무료 템플릿 페이지를 기반으로 프로젝트가 구축되어있었습니다. 
                            또한, 사용되는 라이브러리나 리소스들은 필요한 것 이외에도 모든게 들어가 있었고, 프로젝트가 관리가 되고있지 않았습니다. 
                            이후에 회의를 주도하여 프론트엔드 개발자 동료들과 프로젝트 구조에 대해서 많은 회의를 주도하여 문제점을 인식한 후 구조를 개선하고, 코드 관리 포인트를 추가해 나가면서 웹 개발의
                            첫 발걸음을 내딛게 된 프로젝트였습니다.
                        </span>
                        <span>페이지 화면 첨부</span>
                    </div>
                </div>
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK FOR SHIP</span>
                        <span class="project-range">2018. 07 ~ 2019. 09</span>
                        <span class="project-explain">프로젝트 구축, 도메인 서비스 개발, API 개발, 클라우드 서버와 통신 개발</span>
                        <span class="project-language">NodeJs, Electron, Angularjs, Javascript</span>
                        <span class="project-detail">                            
                            초기 프로젝트 환경을 구축하고 VESSELLINK FOR SHORE 에서 만든 템플릿에 맞춰 선사별, 선박별로 커스터마이징한 UI를 제공하였고, 이후에 프로젝트 규모가 커지고 프론트엔드 개발자 2명이 추가 인원으로 들어온 이후
                            데이터 관리 및 API 개발과 클라우드와 통신 부분 개발 및 도메인 서비스 개발을 맡아서 진행하였습니다. 
                            처음으로 기획단 부터 참여한 프로젝트였고, 프로젝트 리더를 담당하여 프로젝트가 사용자들에게 제공되는 과정을 보면서 만족스러워한 프로젝트입니다.
                        </span>
                        <span class="feeling">
                            선박에서 항해사관이 작성하는 항해일지를 전자식으로 변경하는 솔루션을 제공한 서비스입니다,
                            최초 기획에서는 통신이 필요없는 간단한 HTML 정적 페이지 2장을 개발하는 것이었지만, 데이터베이스와 육상 클라우드 서버와의 원활한 통신이 필요해졌고, 
                            상세 기획에 들어가면서 통신/기능 부분들에 대한 다양한 요구사항이 추가되면서 프로그램의 규모가 커졌습니다.  
                            당시 제가 할 수 있었던 부분을 활용하고자 Electron 프레임워크를 채택하고, 선박의 열악한 통신 환경과 사용 컴퓨터 사양이 부족한 상황을 고려하여 프로젝트를 최대한 가볍게 설계했었고, 
                            처음 설계를 진행하면서, 웹 프로젝트를 진행할 때 느꼇던 아쉬웠던 부분들을 보충하기 위해 웹 프로젝트 구조에 대한 공부를 사전에 많이 했습니다. 
                            개발하면서 가장 힘들었던 점은 해양 도메인 서비스를 개발하는 부분이었습니다. 처음 접하는 영역이고, 도메인의 전문적인 부분을 코드로 변환하는 작업은 도메인에 대한 깊은 이해를 필요로 하였기 때문에 많은 공부를 필요로 하였습니다.
                            또한, 선박의 열악한 환경에서 발생하는 통신 장애에 대한 모든 예외처리를 적용하는 부분에서 많은 고민 끝에 좋은 방법을 찾아서 적용할 수 있었습니다.
                        </span>
                        <span>프로젝트 구조 사진 첨부</span>
                        <span>메인 화면 첨부 / 리포트 작성 화면 첨부</span>
                    </div>
                </div>
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK SERVER</span>
                        <span class="project-range">2019. 09 ~ 2020. 07</span>
                        <span class="project-explain">도메인 서비스 개발, 데이터베이스 관리, API 개발</span>
                        <span class="project-language">.Net(4.6.1), Azure Cloud Service(MS-SQL, Redis, CosmosDB)</span>
                        <span class="proejct-detail">                            
                            선박, 위성에서 오는 많은 데이터를 가공하는 작업을 진행하였고, 선박들의 항해계획 및 위치 기반으로 최적항로를 추천, 예측위치를 계산, 항로 이탈 경고 등 다양한 서비스를 개발하였습니다.
                            VESSELLINK FOR SHIP 프로그램에서 오는 데이터를 가공하여 선사에서 연간 한번씩 보고 해야하는 환경규제규약 IMO DCS, EU MRV 감사를 통과할 수 있는 솔루션을 제공하였습니다. 
                            Redis를 사용하여 실시간 정보를 모바일 플랫폼에 제공하는 서비스를 개발하고, 선박의 성능 분석 정보 및 선박 성능 저하 추세선 계산 등 복잡한 계산들을 개발하였습니다.
                            Azure Cloud에서 각 서비스들을 모니터링하고 관리하는 작업을 수행했습니다.
                        </span>
                        <span class="feeling">
                            기존에 클라우드 관리 및 서버 개발 담당자 결여로 도메인에 대해서 이해가 많은 개발자가 서버 개발에 필요하여 투입되었습니다.
                            기존에 백엔드 개발에도 관심이 많았고, 다양한 서비스를 체감할 수 있는 기회라고 생각했습니다. 처음 접하는 언어를 빠르게 익혀야 했고,
                            서버 개발자로써 갖춰야 될 기본 지식을 가르쳐 줄 선임 개발자가 없었지만, 기존의 코드들을 참조해나가면서 차근차근 습득해나가였고, 
                            기존 코드의 부족했던 부분들을 리팩토링하고 구조를 갖추어 가면서서 실력을 쌓아갔습니다.
                            이 후 코드의 성능을 위해서 수학 공식들을 코드에 적용하면서 코드의 전문성을 높이는 경험을 할 수 있었는데, 좋은 경험이었다고 생각합니다.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-area" id="college">
            <div class="category-title">
                <span class="category-title text">
                    개인 프로젝트
                </span>
            </div>    
            <div class="portfolio-list-area">
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">숙소 예약 서비스</span>
                        <span class="project-explain">졸업 전, 룸메이트와 Airbnb를 벤치마킹하여 제작한 페이지</span>
                        <span class="project-position">맵 UI 서비스 개발, 데이터베이스 관리 및 API 제공</span>
                        <span class="project-language">Angular, Firebase</span>
                    </div>                  
                </div>

            </div>     
            <div class="portfolio-list-area">
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">개인 포트폴리오 페이지</span>
                        <span class="project-range">개인 스터디 및 포트폴리오 구축을 위해 제작한 페이지</span>                        
                        <span class="project-position">전체 담당</span>
                        <span class="project-language">Angular, Firebase, Bootstrap</span>
                    </div>                  
                </div>

            </div>          
        </div>
    </div>
</div>