<div class="portfolio-area" ng-controller="portfolio">
    <div class="portfolio-content-area">        
        <div class="category-area" id="company">   
            <div class="category-title">
                <span class="category-title text">
                    회사 프로젝트
                </span>
            </div>         
            <div class="portfolio-list-area">                
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK FOR SHORE</span>
                        <span class="project-range">2018. 05 ~ 2018. 09</span>
                        <span class="project-explain">웹 서비스 개발</span>
                        <span class="project-language">Html, CSS, Javascript, Angularjs</span>
                        <span class="project-detail">
                            웹 개발자의 꿈을 안고 처음으로 개발하게 된 프로젝트 입니다. 그 당시에 react, vue, angular(ver 2.0 이상)의 프레임워크들이 엄청나게 떠오르던 시절이었습니다.
                            처음에 회사에서 Deprecated된 Angularjs를 가지고 서비스를 제공하는 것에 대해서 다소 의아한 점이 있엇지만, Angular2 프레임워크를 학창시절에 사용한 경험으로 
                            빠르게 적응할 수 있었습니다. 회사가 초창기 시절에 제대로 된 개발자가 없어서 인터넷에 무료 템플릿을 기반으로 프로젝트가 구축되어있었습니다. 
                            또한, 사용되는 라이브러리나 리소스들은 필요한 것 이외에도 모든게 들어가 있었고, 프로젝트가 관리가 되고있지 않았습니다. 한 달의 적응기간이 주어졌고, 최대한
                            회사의 웹 프로젝트 구조를 파악한 후 3주 뒤에 페이지를 개발하게 되었습니다. VESSELLINK FOR SHIP 프로그램에 들어가게 될 커스터마이징 템플릿을 만드는 페이지였습니다.
                            Angularjs에서 제공하는 2-Way Binding 서비스를 남발하여 사용해서 페이지 성능저하 이슈가 있었습니다. Stack overflow에서 같은 이슈를 겪은 사례들을 보고 
                            서비스에 맞는 올바른 솔루션을 택하여 성능을 향상시킬 수 있었습니다.                            
                        </span>
                    </div>
                </div>
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK FOR SHIP</span>
                        <span class="project-range">2018. 07 ~ 2019. 09</span>
                        <span class="project-explain">프로젝트 구축, 도메인 서비스 개발, API 개발, 클라우드 서버와 통신 개발</span>
                        <span class="project-language">NodeJs, Electron, Angularjs, Javascript</span>
                        <span class="project-detail">
                            최초 기획에는 통신이 필요없는 간단한 HTML 정적 페이지 2장을 개발하는 것이었습니다. 상세 기획을 들어가고 통신적인 부분들에 대한 요구사항이 수정되면서 프로그램의
                            규모가 커졌습니다. 데이터베이스가 필요해졌고, 육상 클라우드 서버와의 원활한 통신이 필요했습니다. 당시 제가 할 수 있었던 부분을 활용하고자 Electron 프레임워크를 사용하기로 했고, 선박의 열약한 통신 환경과 사용 컴퓨터 사양이 부족한 상황을 고려하여 프로젝트를 최대한 가볍게 설꼐했습니다. 
                            처음 설계를1 진행하면서, 웹 프로젝트를 진행하면서 아쉬웠던 부분들을 보충하기 위해서 웹 프로젝트 구조에 대한 공부를 많이 했습니다. 
                            개발하면서 가장 힘들었던 점은 해양 도메인 서비스를 개발하는 부분이었습니다. 난생 처음 접하는 영역이기도 하였고, 도메인이 전문적인 부분을 코드로 변환하는 작업을 위해서는
                            도메인에 대한 깊은 이해를 필요로 하였기 때문에 개발 외적으로 도메인을 이해하는 데에도 노력하였습니다. 이후에 프로젝트 규모가 커지고 프론트엔드 개발자 2명이 추가 인원으로 들어오고,
                            저는 데이터 관리 및 API 개발과 클라우드와 통신 부분 개발 및 도메인 서비스 개발을 맡아서 진행하였습니다. 처음으로 기획을 한 프로젝트였고, 큰 역할을 담당했어서 프로젝트가 사용자들에게 제공되는 것을 보면서 만족스러웠습니다.
                        </span>
                    </div>
                </div>
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">VESSELLINK SERVER</span>
                        <span class="project-range">2019. 09 ~ 2020. 07</span>
                        <span class="project-explain">도메인 서비스 개발, 데이터베이스 관리, API 개발</span>
                        <span class="project-language">.Net(4.6.1), Azure Cloud Service(MS-SQL, Redis, CosmosDB)</span>
                        <span class="proejct-detail">
                            기존에 클라우드 관리 및 서버 개발을 하던 사람이 빠지는 일이 생겨서 도메인에 대해서 가장 이해가 많은 개발자가 서버 측에 필요해서 투입되었습니다. 
                            기존에 백엔드 개발에도 관심이 있어서, 다양한 서비스를 체감할 수 있는 기회라고 생각했습니다. 서버 업무 인수인계를 가볍게 받고 선박, 위성에서 오는 데이터를 가공하는 작업을 진행하였고,
                            VESSELLINK FOR SHIP 프로그램에서 오는 데이터를 가공하여 선사에서 연간 한번씩 하는 IMO DCS, EU MRV 감사를 통과할 수 있는 솔루션을 제공하였습니다. 
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-area" id="college">
            <div class="category-title">
                <span class="category-title text">
                    개인 프로젝트
                </span>
            </div>    
            <div class="portfolio-list-area">
                <div class="portfoilo-card">
                    <div class="icon-area">
                        <img src="../assets/img/logo-sample.png">
                    </div>
                    <div class="detail-area">
                        <span class="project-title">숙소 예약 서비스</span>
                        <span class="project-explain">졸업 직전, 룸메이트와 Airbnb를 벤치마킹하여 제작한 페이지</span>
                        <span class="project-position">맵 UI 서비스 개발, 데이터베이스 관리 및 API 제공</span>
                        <span class="project-language">Angular, Firebase</span>
                    </div>                  
                </div>

            </div>            
        </div>
    </div>
</div>