.intro-container{    
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.intro-container .navigation-button-area{
    display: flex;
    justify-content: flex-end;    
    position: fixed;
    z-index: 10;
}
.navigation-button-area .navigation-button{    
    display: block;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.intro-container .sheet-area{    
    /* height: 100%; */
    z-index: 1;
    position: relative;
}

.intro-container .button-area{

}

.intro-container .button-area .btn-download{
    padding: 20px 40px;
    border : 1px solid #00bbff;
    color : #00bbff;
    font-size: 20px;
    font-family: 'S-CoreDream-4Regular';
}

.intro-container .button-area .btn-download:hover{
    padding: 20px 40px;    
    color : #fff;
    font-size: 20px;    
    background: #00bbff;
}






.intro-container .title-text-area{
    padding-top: 130px;
}

.intro-container .title-text-area .first-line{
    font-family: 'S-CoreDream-1Thin';
    font-size: 42px;
    display: block;
}

.intro-container .title-text-area .second-line{
    font-family: 'S-CoreDream-1Thin';
    font-size: 68px;
    display: block;    
}

.intro-container .title-text-area .second-line .name{
    font-family: 'S-CoreDream-5Medium'; 
}

.intro-container .introduce-text-area{
    padding-top: 100px;
}


.intro-container .pride-text-area{
    padding-top: 50px;
}

.intro-container .button-area{
    padding-top: 50px;
}


.intro-container .introduce-text-area .history-area{

}

.intro-container .introduce-text-area .history-area .title{
    font-family: 'S-CoreDream-5Medium'; 
    font-size: 20px;
}

.intro-container .introduce-text-area .history-area .content{
    font-family: 'S-CoreDream-1Thin';
    font-size: 20px;
}

.intro-container .introduce-text-area .pride-text-area{
    font-family: 'S-CoreDream-1Thin';    
    font-size : 18px;
}

.intro-container .reward-area{

}



