.introduce-area{
    width: 100%;    
}

.welcome-flex-box{
    display: flex;
    width: 100%;    
    background: rgb(36,38,51);
    justify-content: center;
}

.welcome-sheet-area{
    width: 1270px;
    height: 485px;
    
}

.greeting-text{
    display: flex;
    font-size: 56px;
}

.idea-text{
    display: flex;
    font-size: 28px;
}

.skill-flex-box{
    display: flex;
    width: 100%;    
    background: rgb(50,52,69);
    justify-content: center;
}

.skill-sheet-area{
    width: 1270px;
    height: 1300px;
    padding: 100px 0;
}

.skill-sheet-area .subject-text{    
    font-size: 56px;
}

.skill-sheet-area .subject-text .eng-text{
    font-size: 28px;
}

.skill-box{
    display: flex;
    margin-top: 50px;
}

.skill-box .group-area{    
    flex-grow: 2;    
    flex-basis: 295px;
}

.skill-box .element-area{
    display: flex;
    flex-wrap: wrap;    
    flex-grow: 6;
    flex-basis: Calc((458*2px) + 30px);
}

.skill-box .group-area .img-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 510px;
}

.skill-box .group-area .caption-area{
    display: block;
    font-size: 28px;
}

.lang-item-box{
    width: 458px;
    height: 150px;
    display: flex;
}

.lang-item-box .logo-area{

}

.lang-item-box .text-area .lang-name{
    font-family: 'NG-Reg';    
    font-size: 16px;
    color: rgb(154, 167, 255);
}

.lang-item-box .text-area .lang-detail{
    font-size: 16px;
}


