@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

.container{
    background-image: url("../img/background.png");
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Raleway','S-CoreDream-4Regular' , sans-serif;
    color:#ffffff;
}

.container .container-face-image-area{
    position: absolute;
    background-image: url('../img/face.png');
    width: 100%;
    height: 100%;    
    z-index: 2 ;
}

.container .container-swipe-image-area{
    position: absolute;
    background-image: url('../img/swipe.png');
    width: 100%;
    height: 100%;    
    z-index: 1 ;
}

.content-area{    
    display: flex;
    justify-content: center;    
    position: absolute;
    width: 100%;
    z-index: 5;    
    margin-top: 60px;
}

.content-area div{
    width: 1200px;
}



.header-area{    
    background-color: #252526;
    display: flex;    
    justify-content: center;   
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header-content-area{    
    width: 1200px;
    height: 60px;     
    display: flex;    
    align-items: center;
    justify-content: space-between;
}
.header-content-area .menu-area{
    height: 100%;
}

.header-content-area .menu-area nav{
    height: 100%;
}

.header-content-area .menu-area nav ul, .header-content-area .menu-area nav ul li{
    height: 100%;
}
.header-content-area .menu-area nav ul li a{
    display: block;
    height: 100%;
}

.header-content-area .menu-area nav ul li a span{
    display: flex;    
    align-items: center;
    height: 59px;
}

.header-area .logo-text{
    font-family: 'Raleway', sans-serif;
    color: #575757;
    font-size: 30px;
    font-weight: 700;        
}

.header-area .menu-text{    
    font-size: 16px;
    list-style-type: none;
}

.menu-area nav .menu-list li{
    display: inline-block;
}
.menu-area nav .menu-list li a{
    color: #ffffff;
    padding-left: 40px;
    letter-spacing: 0px;
    height: 100%;
}

.menu-area nav .menu-list li a:hover{
    color: #3192ff;
    cursor: pointer;
}

.menu-area nav .menu-list li a:hover span.menu-text-field{
    color: #3192ff;    
}

.menu-area nav .menu-list li a.active span.menu-text-field{
    color: #3192ff;
    border-bottom : 2px solid #3192ff;    
}



.footer-area{
    background-color: #252526;
    display: flex;    
    justify-content: center;   
}

.footer-content-area{
    width: 1200px;
}
.korean{
    letter-spacing: -0.3em;
}