$gutter : 1.5625vw;
$max-width : 100vw;
$col : 6.90104166666667vw;
$content-width : ($col*8) + ($gutter*7);

.introduce-area{
    width: $max-width;    
    .graphic-area{
        width: $max-width;    
        position: absolute;
        z-index: 1;        
        display: flex;
        justify-content: flex-end;
    }
    hr.line{
        display: flex;
        width: $max-width;
        border: 0;
        border-top: 1px solid rgb(64,66,84);        
    }
    .welcome-flex-box{
        display: flex;
        width: $max-width;    
        background: rgb(36,38,51);        
        justify-content: center;
        
        .welcome-sheet-area{
            z-index: 2;
            width: $content-width;
            height: 485px;
            display:flex;
            align-items: center;
            flex-wrap: nowrap;

            .greeting-text{                
                width: $content-width ;                
                font-size: 56px;                
                margin-bottom: 40px;
            }
            
            .idea-text{                
                font-size: 28px;
                line-height : 42px;
            }
        }
    }

    .skill-flex-box{
        display: flex;
        width: $max-width;    
        background: rgb(50,52,69);
        justify-content: center;

        .skill-sheet-area{
            width: $content-width;
            padding: 100px 0;

            .subject-text{    
                font-size: 56px;
                margin-bottom: 50px;
                .eng-text{
                    font-size: 28px;
                }
            }            
            .skill-box{ 
                display: flex;
                

                .group-area{    
                    flex-basis: ($col*2) + $gutter;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    
                    .img-area{
                        display: flex;
                        flex-direction: column;
                              
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .caption-area{
                        display: block;
                        font-size: 28px;
                    }
                }

                .element-area{
                    margin-left: $gutter;
                    display: flex;
                    flex-wrap: wrap;                        
                    flex-basis: ($col*6) + ($gutter*5);

                    .lang-item-box{
                        width: ($col*3) + ($gutter*2);
                        height: 150px;
                        display: flex;

                        .logo-area{
                            width: $col;
                        }

                        .text-area{
                            margin-left: $gutter;
                            width: ($col*2) + $gutter;
                            .lang-name{
                                font-family: 'NG-Reg';    
                                font-size: 16px;                                
                            }

                            .lang-detail{
                                font-size: 16px;
                            }                                
                        }
                    }
                }
            }
        }


    }
    .front-end-container .lang-name{        
        color: rgb(154, 167, 255);            
    }
    .back-end-container .lang-name{
        color: rgb(255, 69, 106);
    }
    .devops-container .lang-name{
        color: rgb(250, 100, 69);
    }

    .profile-flex-box{
        display: flex;
        width: $max-width;    
        background: rgb(50,52,69);
        justify-content: center;
        
        .profile-sheet-area{
            width: $content-width;
            height: 485px;

            .subject-text{    
                font-size: 56px;
                margin-bottom: 50px;
                
                .eng-text{
                    font-size: 28px;
                }
            }
            
            .profile-content-box{
                display: flex;

                .img-area{
                    flex-basis: ($col*2) + $gutter;

                    img{
                        width: 100%
                    }
                }

                .history-area{
                    flex-basis: ($col*2) + $gutter;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .history-item-box{

                        .history-title{

                        }
                        .history-detail{

                        }
                    }
                }

                .pride-area{
                    flex-basis: ($col*4) + ($gutter*3);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .pride-item-box{

                        .pride-icon-area{

                        }
                        .pride-text-area{

                        }
                    }
                }
            }
        }
    }
}