$gutter : 1.5625vw;
$max-width : 100vw;
$col : 6.90104166666667vw;
$content-width : ($col*8) + ($gutter*7);
$sheet-bg-color : rgb(50,52,69);
$sheet-bg-color2 : rgb(36,38,51);
$orange : rgb(255, 138, 86);
$pink : rgb(255,69,106);
$company-pf-color : rgb(78,127,226);
$private-pf-color : rgb(118,210,213);

$mb-col : 12.5vw;
$mb-gutter : 2.777777777777778vw;
$mb-margin : 5.55555555555556vw; 
$mb-max-width : ($mb-col*6) + ($mb-gutter*5);


.introduce-area{
    width: $max-width;
    
    .graphic-area{
        width: $max-width;    
        position: absolute;
        z-index: 1;        
        display: flex;
        justify-content: flex-end;
    }
    hr.line{
        display: flex;
        width: $max-width;        
        height: 1px;
        color: rgb(64,66,84);
        background-color: rgb(64,66,84);
        border: none;
    }
    .sheet-flex-box{
        display: flex;
        width: $max-width;    
        justify-content: center;                    
    }
    .welcome-flex-box{
        
        background: rgb(36,38,51);        
        
        
        .welcome-sheet-area{
            z-index: 2;
            width: $content-width;
            height: 485px;
            display:flex;
            align-items: center;
            flex-wrap: nowrap;

            .greeting-text{                
                width: $content-width ;                
                font-size: 56px;                
                margin-bottom: 40px;
            }
            
            .idea-text{                
                font-size: 28px;
                line-height : 42px;
            }
        }
    }

    .skill-flex-box{
        display: flex;
        width: $max-width;    
        background: rgb(50,52,69);
        justify-content: center;

        .skill-sheet-area{
            width: $content-width;
            padding-top: 100px;
            padding-bottom: 50px;

            .subject-text{    
                font-size: 56px;
                margin-bottom: 50px;
                .eng-text{
                    font-size: 28px;
                }
            }            
            .skill-box{ 
                display: flex;
                

                .group-area{    
                    flex-basis: ($col*2) + $gutter;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    
                    .img-area{
                        display: flex;
                        flex-direction: column;
                              
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .caption-area{
                        margin-top: 30px;
                        display: block;
                        font-size: 28px;
                    }
                }

                .element-area{
                    margin-left: $gutter;
                    display: flex;
                    flex-wrap: wrap;                        
                    flex-basis: ($col*6) + ($gutter*5);

                    .lang-item-box{
                        width: ($col*3) + ($gutter*2);
                        // height: 150px;
                        margin-bottom: 50px;
                        display: flex;

                        .logo-area{
                            width: $col;
                        }

                        .text-area{
                            margin-left: $gutter;
                            width: ($col*2) + $gutter;
                            .lang-name{
                                font-family: 'NG-Reg';    
                                font-size: 16px;      
                                margin-bottom: 010px;                          
                            }

                            .lang-detail{
                                font-size: 14px;
                                line-height: 22px;
                            }                                
                        }
                    }
                }
            }
        }


    }
    .front-end-container .lang-name{        
        color: rgb(154, 167, 255);            
    }
    .back-end-container .lang-name{
        color: $pink;
    }
    .devops-container .lang-name{
        color: $orange;
    }

    .profile-flex-box{
        display: flex;
        width: $max-width;    
        background: $sheet-bg-color2;
        justify-content: center;
        padding-bottom: 100px;        
        .profile-sheet-area{
            width: $content-width;

            .subject-text{    
                font-size: 56px;
                margin-top: 100px;
                margin-bottom: 100px;
                
                .eng-text{
                    font-size: 28px;
                }
            }
            
            .profile-content-box{
                display: flex;

                .img-area{
                    flex-basis: ($col*2) + $gutter;

                    img{
                        width: 100%
                    }
                }

                .history-area{
                    flex-basis: ($col*2) + $gutter;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: $gutter;
                    .history-item-box{
                        margin-bottom: 40px;
                        .history-title{
                            font-family: "NG-Reg";
                            font-size: 18px;                            
                            color:rgb(43,132,213);
                            margin-bottom: 6px;
                        }
                        .history-detail{
                            font-size : 18px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }                    
                }

                .mb-hr-line{
                    display: none;
                }

                .pride-area{
                    margin-left: $gutter;
                    flex-basis: ($col*4) + ($gutter*3);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .pride-item-box{
                        display : flex;
                        margin-bottom: 24px;

                        .pride-icon-area{
                            margin-right: 20px;                             
                        }
                        .pride-text-area{
                            font-size : 18px;
                            line-height: 30px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .reward-flex-box{
        background: $sheet-bg-color2;
        display: flex;
        justify-content: center;
        width: $max-width;    


        .reward-sheet-area{
            width: $content-width;
            padding-top: 100px;
            padding-bottom: 100px;
            display: flex;
            
            

            .reward-area{
                display: flex;
                justify-content: center;                
                flex-basis: ($col*4) + ($gutter*3);
                
                .reward-list-flex-box{
                    .reward-type{
                        font-size: 16px;
                        color:rgb(43,132,213);
                    }

                    .reward-list-box{
                        margin-top: 20px;

                        .reward-item{
                            margin-bottom: 6px;
                            .reward-date{
                                font-size: 16px;
                            }
                            .reward-title{
                                font-size: 16px;
                            }

                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }

    .portfolio-flex-box{
        background: $sheet-bg-color;        
        display: flex;
        justify-content: center;
        width: $max-width;
        padding-bottom: 100px;
        
        &.private{
            background-color: $sheet-bg-color2;
        }

        .portfolio-sheet-area{
            width: $content-width;

            .subject-text{    
                font-size: 56px;
                margin-top: 100px;                
                
                .eng-text{
                    font-size: 28px;
                }
            }

            .portfolio-area{
                margin-top: 100px;

                .label-area{
                    font-family: 'NG-Reg';
                    float:right;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: $col;
                    height: $col;
                    background-color: rgb(36,38,51);
                    border-radius: 100%;
                    font-size: 18px;
                    line-height: 24px;
                    color: $company-pf-color;
                    font-weight: 600;
                    &.private{
                        color: $private-pf-color;
                        background-color: rgb(20,22,30);
                    }

                    .portfolio-type-label{
                        display: flex;
                        justify-content: center;                                                
                    }

                    
                }


                .portfolio-content-area{

                    .pf-title{
                        font-size: 56px;
                        color:$company-pf-color;
                        margin-bottom: 30px;

                        &.private{
                            color: $private-pf-color;
                        }
                    }
                    .pf-basic-info-box{
                        .pf-range{
                            font-size: 24px;
                            line-height: 34px;
                        }
                        .pf-position{
                            font-size: 24px;
                            line-height: 34px;
                        }
                        .pf-lang{
                            font-size: 24px;
                            line-height: 34px;
                        }
                    }
                    
                    .pf-explain{
                        margin-top: 50px;
                        font-size: 18px;
                        line-height: 28px;
                        text-align : justify;
                        -webkit-font-smoothing: antialiased;
                    }

                    .pf-img-area{
                        display: flex;
                        justify-content: space-between;
                        margin: 50px 0;
                        img.pf-img{
                            width: ($col*4) + ($gutter*3);
                        }
                    }

                    .pf-feeling-point-area{
                        border-radius: 10px;
                        background-color: rgb(60,62,82);
                        padding: 40px;

                        

                        .pf-feeling-point-content{

                            .pf-feeling-point-title{
                                font-size: 18px;
                                line-height: 30px;
                                color: rgb(78,127,226);
                                margin-bottom: 6px;
                            }
                            .pf-feeling-point-detail{
                                font-size: 18px;
                                line-height: 28px;
                                text-align : justify;
                            }
                        }

                        &.private{                            
                            background-color: rgb(44,46,61);
                            
                            .pf-feeling-point-title{
                                color: $private-pf-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

